body {
	margin: 0;
	padding: 0;
	background-color: #222222;
	text-align: center;
	font-family: "Trebuchet MS";
	color: #FFFFFF;
}

table {
	width: 500px;
}

td {
	padding: 5px;
	background-color: #111111;
	border: 1px solid #FFFFFF;
	font-size: 13px;
}

.container {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas:
		'title'
		'table';
	gap: 0;
}

.title {
	grid-area: title;
	justify-self: center;
	padding: 10px;
	text-align: center;
	font-size: 16px;
}

.table {
	grid-area: table;
	justify-self: center;
	margin: 0 auto;
}

.image {
	background-color: #FFFFFF;
}

.image img {
	width: 38px;
	height: 50px;
	max-width: 38px;
	max-height: 50px;
}

.desc:hover {
	background-color: #1D1D2D;
}

.game {
	color: #DC143C;
}

.or {
	color: #6A5ACD;
}
